/*  your css code here. If applicable */
div{
	width:200px;
	height:200px;
	border: 2px solid black;
	margin:20px;
	background-color:lightblue;
	
}
p{
	color:purple;
	text-align:center;
	line-height:12;
}